<form [formGroup]="formTodo" (ngSubmit)="sendData()">
  <div [className]="['form-todo']">
    <div>
      <label>
        <input name="title" formControlName="title" type="text">
      </label>
    </div>
    <div>
      <label>
        <input name="body" formControlName="body" type="text">
      </label>
    </div>
    <div>
      <label>
        <input name="finalDate" formControlName="finalDate" type="date">
      </label>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </div>
</form>
